    <!-- Thumbs Container -->
    <div class="container">
      <h1>Drupangular</h1>
      <div class="info">
        Drupal/AngularJS "proof of concept" site.
      </div>
      <p>
        <ul>
          <li><strong>The Menu - </strong>Is being built referncing taxonomy on the drupal site.</li>
          <li><strong>The "Thumbs Up/Down" App - </strong>Click on the link, you'll see a list of "ratings" which are being pulled from a view. The app also creates nodes using "POST".</li>
          <li><strong>The "Songs" App - </strong>Is pulling in data via a view. Click on the "Play" button on a song, and keep browsing the site... it still plays!</li>
          <li><strong>Multiple controllers - </strong>The audio player lives as part of the site "Chrome"... not "Google Chrome" but site chrome, as in the "decoration" that styles every page.</li>
        </ul>
      </p>
    </div>
