<!doctype html>
<html ng-app="thumbsApp">
  <head>
    <title>Thumbs Up/Down App | Angular JS</title>

    <!-- Angular JS - CDN -->
    <script src="//code.angularjs.org/1.2.1/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.1/angular-sanitize.min.js"></script>
    <script src="//code.angularjs.org/1.2.1/angular-route.min.js"></script>

    <!-- Bootstrap - Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/contrib/bootstrap.min.css">
    <link rel="stylesheet" href="css/contrib/bootstrap-theme.min.css">

    <!-- Custom CSS & JS -->
    <link rel="stylesheet" href="css/custom/style.css">
    <script src="js/custom/app.js"></script>
    <script src="js/custom/controllers.js"></script>
  </head>

  <body ng-controller="chromeCtrl">

    <!-- Menu Container -->
    <div class="container{{menu ? '' : ' loading'}}">
      <div class="row menu">
        <ul>
          <li ng-repeat="item in menu">
            <a href="{{item.path}}" class="col-md-1">{{item.label}}</a>
          </li>
        </ul>
        <div class="player pull-right{{mp3Url ? '' : ' noMp3'}}">
          <button ng-click="closePlayer()" class="close pull-right">&times;</button>
          <audio autoplay controls src="{{mp3Url}}">
            Your browser does not support the audio element.
          </audio>
        </div>
        </div>
      </div>
    </div>

    <!-- View -->
    <div ng-view></div>
  </body>
</html>
