a:hover {
  text-decoration: none;
}

.info {
  border: 1px solid rgba(0,0,0,0.5);
  margin: 1em auto;
  padding: 0.5em 1em;
}

.container {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: auto auto 25px;
  max-width: 900px;
  padding: 1em 2em;
  width: 100%;
}

.button,
.thumb-type,
.thumb-rating {
  height: 22px;
  width: 22px;
  margin: 2px;
  border-radius: 1000px;
  box-shadow: 0 0 3px rgba(0,0,0,1);
  color: rgba(0,0,0,0);
  display: inline-block;
  background-color: rgba(0,0,0,0);
  background-image: url(images/check.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  cursor: default;
}
.thumb-type {
  cursor: pointer;
  transition: all 0.25s;
  box-shadow: none;
}
.thumb-down {
  background-image: url(images/cross.png);
}
  .thumb-type:hover {
    box-shadow: 0 0 3px rgba(0,0,0,1);
  }

input {
  padding: 3px 0 2px 5px;
  width: 240px;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: rgba(0,0,0,0.25);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(0,0,0,0.25);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(0,0,0,0.25);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgba(0,0,0,0.25);
}

ul {
  padding: 0;
}

ul.ratings {
  margin-top: 1em;
}

ul li {
  list-style: none;
  margin: 2px 0;
}

.menu li > a {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
  transition: all .5s;
}
  .menu li > a:hover {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
  }

.box {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 25px 15px;
  text-align: justify;
  overflow: hidden;
}
  .box .button {
    background-image: url(images/music.png);
  }
  .box .link {
    display: inline-block;
  }

.play .button,
.download .button {
  color: inherit;
  text-indent: 30px;
  cursor: pointer;
  margin-top: 10px;
}
  .box .download .button {
    background-image: url(images/down.png);
  }

.album-art {
  background: rgba(200,200,255,0.25);
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 10px;
  float: left;
  height: 220px;
  margin-right: 5px;
  overflow: hidden;
  width: 220px;
}

.loading {
  background-image: url(images/loading.gif);
}

.player.noMp3 {
  display: none;
}

.player .close {
  width: 25px;
  height: 25px;
}

